{% extends "base.html" %}

{% block body_content %}
<div class="jumbotron welcome-wrapper">
    <h1>Posts</h1>
    {% for post in posts %}
    <h2>{{post.name}}</h2>
    <i>{{post.text}}</i>
    {% endfor %}
    <form action="/posts" method="post">
        <input type="text" name="name" class="form-control"
               id="name" placeholder="Post name" required>
        <textarea name="text" id="text" rows="4" cols="50"> </textarea>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>
{% endblock %}